/*
pre b {
  font-weight: normal;
}

.popup pre b,
.highlight-code pre b {
  font-weight: bold;
}
*/

.me-slide img {
  margin-right: 25px;
  vertical-align: middle;
}

.me-slide img:first-of-type,
.me-slide img:last-of-type {
  margin-bottom: 15px;
  margin-right: 0;
}

.meritt-dark {
  background: #000;
}

.meritt-dark hgroup h2 {
  color: #fff;
}

.meritt-dark article * {
  color: #f58634;
}

.removed {
  opacity: 0.7;
  text-decoration: line-through;
}

.terminal {
  background-color: #333;
  color: #ccc;
}

.highlight-code slide.current .terminal {
  color: rgba(204, 204, 204, 0.15);
  -webkit-transition: color 0.5s ease-in;
  -moz-transition: color 0.5s ease-in;
  -o-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
}

.highlight-code slide.current .terminal b {
  font-weight: bold;
  color: #fff;
  -webkit-transition: color 0.5s ease-in;
  -moz-transition: color 0.5s ease-in;
  -o-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
}