pre b {
  font-weight: normal;
}

.highlight-code pre b {
  font-weight: bold;
}

.removed {
  opacity: 0.7;
  text-decoration: line-through;
}

.terminal {
  background-color: #333;
  color: #ccc;
}

.highlight-code slide.current .terminal {
  color: rgba(204, 204, 204, 0.15);
  -webkit-transition: color 0.5s ease-in;
  -moz-transition: color 0.5s ease-in;
  -o-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
}

.highlight-code slide.current .terminal b {
  font-weight: bold;
  color: #fff;
  -webkit-transition: color 0.5s ease-in;
  -moz-transition: color 0.5s ease-in;
  -o-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
}